include ./../../components/skill/skill

mixin skills-group (title, skills)

    .skills-group
        .skills-group__item
            .skills-group__title= title
            ul.skills-group__list
                each s in skills
                    li.skills-group__list-item
                        +skill(s.title, s.progress)