@import '../params';
@import '../mixins';

.article {
    padding-bottom: 70px;
    margin-bottom: 70px;
    border-bottom: 5px solid rgba(55, 62, 66, .07);

    &:last-child {
        border-bottom: 0 none;
    }

    &__title {
        margin: -8px 0 15px;
        font-size: 35px;
        font-family: 'Sansus Webissimo', sans-serif;
        font-weight: 400;
        line-height: 41px;
    }

    &__date {
        color: rgba(8, 60, 150, .7);
        font-size: 16px;
    }

    &__content {
        img {
            max-width: 100%;
        }
    }
}
