@import './../params';
@import './../mixins';

.article {
    padding: 35px 0;
    border-bottom: 5px solid rgba(55, 62, 66, .07);
    overflow: hidden;

    &:first-child {
        padding-top: 0;
    }

    &:last-child {
        border-bottom: 0 none;
    }

    &__title {
        margin: -8px 0 15px;
        font-size: 35px;
        font-family: 'Sansus Webissimo', sans-serif;
        font-weight: 400;
        line-height: 41px;
    }

    &__date {
        color: rgba(8, 60, 150, .7);
        font-size: 16px;
    }

    &__text {
        margin-bottom: 10px;
    }
}

// @media
// xs
@include media-xs {
    .article {
        padding: 25px 0;

        &__title {
            font-size: 21px;
            line-height: 28px;
        }

        &__content {
            margin-top: 10px;
        }

        &__date {
            font-size: 14px;
        }
    }
}

// sm
@include media-sm {
    .article {
        padding: 25px 0;

        &__title {
            font-size: 30px;
            line-height: 36px;
            margin: 0 0 15px;
        }

        &__content {
            margin-top: 10px;
            font-size: 14px;
        }

        &__date {
            font-size: 14px;
        }
    }
}
