@import './../params';
@import './../mixins';

.avatar {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    flex-grow: 0;
    width: 141px;
    height: 141px;
    border-radius: 50%;
    overflow: hidden;

    &__img {
        display: block;
        width: 100%;
    }
}

// Size
.avatar_size_small {
    width: 77px;
    height: 77px;
}

// @media
// xs
@include media-xs {
    .avatar_size_small {
        width: 51px;
        height: 51px;
    }
}
