@import './../params';
@import './../mixins';

.btn {
    background-color: transparent;
    border: 0 none;
    border: 1px solid transparent;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: border-color 180ms ease-out, background-color 180ms ease-out;

    &__text {
        display: block;
        padding: 10px;
        font-size: 16px;
        text-decoration: none;
        transition: color 180ms ease-out;
    }

    &__icon {
        margin-right: 5px;
    }

    &:focus {
        outline: 0 none;
    }
}

// Color
.btn_color {
    &_blue {
        background-color: #004cd1;

        .btn__text {
            color: #fff;
        }

        .btn__icon {
            color: #fff;
        }

        &:hover {
            background-color: rgba(4, 62, 163, .85);
        }
    }

    &_transparent {
        color: rgba(255, 255, 255, .5);
        transition: color 180ms ease-out;

        &:hover {
            color: rgba(255, 255, 255, 1);
        }
    }
}

// Size
.btn_size {
    &_small {
        padding: 0 6px;

        .btn__text {
            line-height: 18px;
        }
    }
}

// Border
.btn_border_white {
    border-color: #fff;
}

// Corners
.btn_corners {
    &_rounded {
        border-radius: 4px;
    }
}

// Background on hover
.btn_hover-bg {
    &_blue {
        &:hover {
            border-color: #083c96;
            background-color: #083c96;
        }
    }
}

// Block button
.btn_w_100 {
    width: 100%;
}

// @media
// xs
@include media-xs {
    .btn_xs-size {
        &_small {
            .btn__text {
                padding: 7px;
            }
        }
    }
}
