@import './../params';
@import './../mixins';

.combo-slider {
    display: flex;
    height: 100vh;
    background-color: #f2f0e8;
    flex-direction: column;
    flex-wrap: wrap;

    &__main-slider {
        display: flex;
        justify-content: center;
        align-items: center;
        order: 2;
        width: 50%;
        height: (526 / 752 * 100vh);
        background-color: #e3e2de;

        .carousel__item {
            left: 0;
        }
    }

    &__slide-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        order: 1;
        width: 50%;
        height: 100vh;

        &_state_active {
            .combo-slider__work-features,
            .combo-slider__slide-link {
                opacity: 1;
                transition: opacity 400ms;
            }
        }
    }

    &__slide-title {
        max-width: 380px;
        text-align: center;
    }

    &__work-features {
        margin: 0 0 55px;
    }

    &__work-features,
    &__slide-link {
        opacity: 0;
        transition: opacity 0s;
    }

    &__nav {
        width: 50%;
        height: (226 / 752 * 100vh);
        display: flex;
        order: 3;
    }

    &__nav-btn {
        width: 50%;
        padding: 0;
        position: relative;
        background-color: transparent;
        border: 0 none;
        overflow: hidden;
        cursor: pointer;

        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 10;
            top: 0;
            left: 0;
        }

        &_slider_prev {
            &::after {
                background-color: rgba(170, 171, 183, .7);
            }
        }

        &_slider_next {
            &::after {
                background-color: rgba(126, 127, 138, .7);
            }
        }
    }

    &__nav-icon {
        margin: -.5em 0 0 -.5em;
        position: absolute;
        z-index: 11;
        top: 50%;
        left: 50%;
        color: #fff;
        font-size: 26px;
        text-shadow: 0 2px 2px rgba(0, 0, 0, .16);
        transition: transform 0s;
    }

    &__nav-slider.carousel {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;

        .carousel__img {
            height: 120%; 
            min-width: 100%;
            min-height: 100%;
            max-width: none;
            max-height: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__thumb {
        min-height: 100%;
        min-width: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &__current-slide {
        display: block;
        max-width: 100%;
        max-height: 100%;
    }
}

.no-touchevents {
    .combo-slider {
        &__nav-slider.carousel {
            .carousel__img {
                transition: height 400ms;
            }
        }

        &__nav-icon {
            transition: transform 180ms, box-shadow 180ms;
        }

        &__nav:hover {
            .combo-slider__nav-btn_slider_prev {
                .carousel__img {
                    height: 110%;
                }
            }

            .combo-slider__nav-btn_slider_next {
                .carousel__img {
                    height: 130%;
                }
            }
        }

        &__nav-btn:hover {
            .combo-slider__nav-icon {
                text-shadow: 0 2px 3px rgba(0, 0, 0, .1);
                transform: scale(1.1);
            }
        }
    }
}

// @media
// xs
@include media-xs {
    .combo-slider {
        &__main-slider {
            order: 1;
            width: 100%;
            height: (260 / 574 * 100vh);
        }

        &__slide-info {
            order: 2;
            width: 100%;
            height: (220 / 574 * 100vh);
            box-sizing: border-box;
        }

        &__slide-title {
            max-width: 90%;
        }

        &__nav {
            order: 3;
            width: 100%;
            height: (94 / 574 * 100vh);
        }

        &__work-features {
            margin: 0 0 20px;
        }

        &__current-slide {
            width: auto;
        }
    }
}

// sm
@include media-sm {
    .combo-slider {
        &__main-slider {
            order: 1;
            width: 100%;
            height: (515 / 974 * 100vh);
        }

        &__slide-info {
            order: 2;
            width: 100%;
            height: (255 / 974 * 100vh);
            box-sizing: border-box;
        }

        &__slide-title {
            max-width: 90%;
        }

        &__nav {
            order: 3;
            width: 100%;
            height: (204 / 974 * 100vh);
        }

        &__current-slide {
            width: auto;
        }

        &__work-features {
            margin: 0 0 25px;
        }
    }
}

// xs-landscape
@include media-xs-landscape {
    .combo-slider {
        &__slide-title {
            &::after {
                margin: 5px auto;
            }
        }

        &__work-features {
            margin: 0;
        }
    }
}
