@import '../params';
@import '../mixins';

.contacts {
    @include drop-style-ul;
}

.contacts_footer {
    line-height: 25px;

    .contacts__link {
        color: $contacts-link-color;
        font-weight: 300;
        text-decoration: none;
    }

    .contacts__text {
        color: $contacts-text-color;
        font-weight: 300;
    }
}

.contacts_map {
    display: flex;
    flex-wrap: wrap;

    .contacts__item {
        width: 50%;
    }

    .contacts__link {
        color: #474b57;
        text-decoration: none;
    }
}

// XS
@media screen and (max-width: $screen-xs-max) {
    .contacts_footer {
        font-size: 14.04px;
    }
}

// SM
@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .contacts_footer {
        text-align: right;
        font-size: 14.04px;
    }
}
