@import './../params';
@import './../mixins';

.copyright {
    font-size: 0;

    &__chunk {
        font-size: 16px;
        font-weight: 300;

        &_company {
            &::before,
            &::after {
                content: "|";
                display: inline-block;
                padding: 0 4px;
            }
        }
    }
}

// Color
.copyright_color {
    &_white {
        color: #fff;
    }
}

// @media
// xs
@include media-xs {
    .copyright {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;

        &__chunk {
            font-size: 14px;

            &_name {
                width: 100%;
            }

            &_company {
                &::before {
                    display: none;
                }
            }
        }
    }
}
