@import './../params';
@import './../mixins';

.copyright {
    font-size: 0;

    &__name,
    &__company,
    &__year {
        font-size: 16px;
        font-weight: 300;
    }

    &__company {
        &::before,
        &::after {
            content: "|";
            display: inline-block;
            padding: 0 4px;
        }
    }
}

// Color
.copyright_color {
    &_white {
        color: #fff;
    }
}

// @media
// xs
@include media-xs {
    .copyright {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        font-size: 14px;

        &__name {
            width: 100%;
        }

        &__company {
            &::before {
                display: none;
            }
        }
    }
}
