@import './../params';
@import './../mixins';

.filefield {
    &__label {
        display: inline-flex;
        position: relative;
        color: #0548be;

        &::after {
            content: "";
            display: block;
            position: absolute;
            z-index: 4;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            cursor: pointer;
        }
    }

    &__control {
        position: absolute;
        z-index: 3;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
    }

    &__icon {
        position: relative;
        margin-right: 10px;
        color: #4576cb;

        .fa-picture-o {
            font-size: 26px;
            display: block;
        }

        .fa-plus-circle {
            position: absolute;
            bottom: -15%;
            right: -15%;
            z-index: 1;

            &::before {
                position: relative;
                z-index: 2;
            }

            &::after {
                content: "";
                display: block;
                width: 90%;
                height: 90%;
                position: absolute;
                z-index: 1;
                top: 5%;
                left: 5%;
                background-color: #fff;
                border-radius: 100%;
            }
        }
    }

    &__text {
        margin-top: 2px;
    }
}
