@import './../params';
@import './../mixins';

// Error state mixin
.formfield_state_error {
    .formfield__control {
        outline: 1px solid $color-error;
    }

    .formfield__error-message {
        padding: 10px 20px;
        margin-top: 13px;
        position: absolute;
        z-index: 100;
        top: 100%;
        left: 0;
        border-radius: 4px;
        background-color: $color-error;
        color: #fff;
        font-weight: 500;

        &::before,
        &::after {
            content: "";
            display: block;
            position: absolute;
        }

        &::before {
            width: 10px;
            height: 10px;
            top: -4px;
            right: 50%;
            margin-right: -5px;
            background-color: $color-error;
            transform: rotate(-45deg);
        }

        &::after {
            content: "";
            width: 20px;
            height: 13px;
            top: 0;
            right: 50%;
            margin-right: -10px;
            background-color: $color-error;
        }
    }
}

.textfield.formfield_state_error {
    .textfield__addon-icon {
        color: $color-error;
    }
}

// Correct state mixin
.textfield.formfield_state_correct {
    .textfield__addon-icon {
        color: #0548be;
    }
}
