@import './../params';
@import './../mixins';

.form {
    width: 380px;
    position: relative;

    &__body {
        padding: 35px 20px 0;
    }

    &__title {
        color: #fff;
        text-align: center;

        &::after {
            width: 89px;
            margin: 28px auto 30px;
            background-color: #fff;
        }
    }

    &__field {
        margin-bottom: 20px;
    }

    &__footer {
        display: flex;
    }

    .form__btn {
        flex-grow: 1;
        width: 50%;
    }
}

// Theme
.form_theme {
    &_transparent {
        background-color: rgba(255, 255, 255, .03);

        .textfield__control,
        .textarea__control {
            background-color: rgba(255, 255, 255, 0.06);
            box-shadow: inset 0 0 2px rgba(0, 0, 0, .6);
        }
    }
}

// @media
// xs
@include media-xs {
    .form {
        width: 300px;

        &__body {
            padding: 25px 20px 0;
        }

        &__title {
            &::after {
                margin: 15px auto 20px;
            }
        }
    }
}

// sm
@include media-sm {
    .form {
        width: 348px;

        &__body {
            padding-top: 45px;
        }

        &__group-title {
            margin-bottom: 15px;
        }
    }
}
