@import './../params';
@import './../mixins';

// Color
.heading_color {
    &_white {
        color: #fff;
    }
}

// Font-family
.heading_font {
    &_2 {
        font-family: 'Sansus Webissimo', sans-serif;
    }
}

// Size
.heading_size {
    &_28 {
        font-size: 28px;
        line-height: 34px;
    }

    &_35 {
        font-size: 35px;
        line-height: 34px;
    }

    &_63 {
        font-size: 63px;
        line-height: 56px;
    }
}

// Weight
.heading_weight {
    &_500 {
        font-weight: 500;
    }
}

// Text-transform
.heading_transform_uppercase {
    text-transform: uppercase;
}

// Decor
.heading_decor {
    &_border-spacer {
        position: relative;

        &::after {
            content: "";
            display: block;
            width: 56px;
            height: 3px;
            margin: 15px auto 25px;
            background-color: #474b57;
        }

        @include media-sm {
            &::after {
                width: 89px;
                margin: 8px auto 17px;
            }
        }
    }
}

// @media
// xs
@include media-xs {
    // Size
    .heading_xs-size {
        &_21 {
            font-size: 21px;
            line-height: 28px;
        }

        &_35 {
            font-size: 35px;
            line-height: 42px;
        }
    }

    // Weight
    .heading_xs-weight {
        &_500 {
            font-weight: 500;
        }
    }
}

// sm
@include media-sm {
    // Size
    .heading_sm-size {
        &_30 {
            font-size: 30px;
            line-height: 36px;
        }

        &_49 {
            font-size: 49px;
            line-height: 52px;
        }
    }
}
