@import './../params';
@import './../mixins';

.indicators-grid {
    display: flex;
    flex-direction: column;

    &__title {
        color: #474b57;
        font-size: 28px;
        font-weight: 500;
        margin: 25px 0 20px;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        margin-left: 15px;
    }
}

// @media
// xs
@include media-xs {
    .indicators-grid {
        padding: 5px 0 10px;

        &__title {
            font-size: 21px;
            text-align: center;
        }

        &__group {
            margin-bottom: 15px;
        }

        &__items {
            justify-content: center;
        }

        &__item {
            margin: 15px;
        }
    }
}

// xs
@include media-xs-landscape {
    .indicators-grid {
        &__item {
            margin: 15px 10px;
        }
    }
}

// sm
@include media-sm {
    .indicators-grid {
        &__title {
            font-size: 21px;
            line-height: 28px;
            margin: 13px 0;
        }

        &__group {
            margin-bottom: 20px;
        }

        &__item {
            margin: 0 13px;
        }
    }
}

// lg
@include media-lg {
    .indicators-grid {
        &__item {
            margin-right: 40px;
        }
    }
}
