@import './../params';
@import './../mixins';

.login {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        margin-bottom: 35px;
    }

    &__login,
    &__pwd {
        margin-bottom: 20px;
    }
}

// @media
// xs
@include media-xs {
    .login {
        &__title {
            margin-bottom: 35px;
        }

        &__login,
        &__pwd {
            .textfield__control {
                width: 220px;
            }
        }
    }
}

// sm
@include media-sm {
    .login {
        &__title {
            margin-bottom: 35px;
        }

        &__login,
        &__pwd {
            width: 308px;

            .textfield__control {
                width: 263px;
            }
        }
    }
}
