@import './../params';
@import './../mixins';

.map {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    z-index: 10;

    &__container {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__map {
        width: 2000px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    &__title {
        text-align: center;
    }

    &__contacts {
        width: 580px;
        margin-top: -185px;
        padding: 30px 20px 0;
        background-color: rgba(255, 255, 255, .7);
        position: relative;
        z-index: 2;
    }

    &__contacts-list {
        display: flex;
        flex-wrap: wrap;

        .contacts__item {
            width: 50%;
            margin: 10px 0;
            padding: 0 10px 0 0;
        }

        .contacts__link {
            display: inline-flex;
            align-items: baseline;
            text-decoration: none;
        }

        .contacts__icon {
            flex-shrink: 0;
            flex-grow: 0;
            fill: #004cd1;
            width: 45px;
            height: 45px;
            margin-right: 10px;
        }

        .contacts__text {
            top: -20px;
            position: relative;
            color: #474b57;
        }
    }
}

// @media
// xs
@include media-xs {
    .map {
        height: auto;
        flex-direction: column;
        padding-bottom: 0;
        margin-bottom: -15px;

        &__contacts {
            position: static;
            background-color: #fff;
            width: 100%;
            padding: 30px 0 15px;
        }

        &__contacts-item {
            margin: 0;
        }

        &__contacts-list {
            flex-direction: column;
            padding: 0 10px;

            .contacts__item {
                width: 100%;
                padding-bottom: 5px;
                margin: 0;
            }

            .contacts__icon {
                width: 34px;
                height: 34px;
            }

            .contacts__text {
                top: -14px;
            }
        }

        &__container {
            height: 515px;
            position: static;
        }

        &__map {
            margin-left: -350px;
        }
    }
}

// sm
@include media-sm {
    .map {
        &__container {
            margin-left: -150px;
        }

        &__contacts {
            width: 348px;
            padding-bottom: 20px;
        }

        &__title {
            margin-bottom: 40px;
        }

        &__contacts-item {
            margin: 5px 0;
        }

        &__contacts-list {
            flex-direction: column;

            .contacts__item {
                width: 100%;
            }
        }
    }
}
