@import './../params';
@import './../mixins';

.page {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100%;
    overflow: hidden;

    &__social {
        position: absolute;
        z-index: 10;
        top: 20px;
        left: 20px;
    }

    &__hamburger {
        position: absolute;
        top: 28px;
        right: 30px;
    }

    &__content {
        flex-grow: 1;
        flex-shrink: 0;
        position: relative;
    }

    &__footer {
        flex-grow: 0;
        flex-shrink: 0;
        position: relative;
        z-index: 1;
    }
}

// @media
// xs
@include media-xs {
    .page {
        &__social {
            top: 0;
            left: 0;
        }

        &__hamburger {
            top: 10px;
            right: 10px;
        }
    }
}
