@import './../params';
@import './../mixins';

.page-welcome {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: #223b65;

    &__bg-media {
        position: absolute;
        top: 0;
        left: -5%;
        width: 110%;
    }

    &__bg {
        width: 2200px;
        height: 1467px;
        position: absolute;
        z-index: 1;
        top: 38%;
        left: 50%;
        margin-top: -(1467px / 2);
        margin-left: -(2200px / 2);
    }

    &__flip-panel {
        width: 380px;
        height: 407px;
        position: absolute;
        top: 21%;
        left: 50%;
        margin-left: -190px;
        z-index: 2;
    }

    &__sign-in {
        width: 180px;
        min-height: 40px;
        position: absolute;
        top: 25px;
        right: 20px;
        z-index: 2;
    }

    &__nav {
        align-self: stretch;
    }

    &__copyright {
        position: absolute;
        bottom: 30px;
        left: 0;
        z-index: 2;
        width: 100%;
        text-align: center;
    }
}

// xs
@include media-xs {
    .page-welcome {
        display: flex;
        height: 100vh;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 10px;

        &__bg-media {
            height: 88%;
            width: auto;
            bottom: 12%;
        }

        &__bg {
            width: 800px;
            height: auto;
            top: auto;
            bottom: 0;
            left: 50%;
            margin-top: 0;
            margin-left: -400px;
        }

        &__sign-in {
            position: static;
        }

        &__flip-panel {
            width: 300px;
            margin: 0;
            position: static;
        }

        &__copyright {
            position: static;
            transform: translateX(0);
        }
    }
}

// xs-landscape
@include media-xs-landscape {
    .page-welcome {
        min-height: 100vh;
        height: auto;

        &__sign-in {
            margin-bottom: 15px;
        }

        &__flip-panel {
            position: static;
            margin: 0 auto 20px;
        }
    }
}

// sm
@include media-sm {
    .page-welcome {
        &__bg-media {
            min-width: 110%;
            min-height: 80vh;
            width: auto;
            top: 0;
            bottom: auto;
        }

        &__bg {
            width: 1400px;
            height: auto;
            top: auto;
            bottom: 0;
            margin-left: -700px;
        }

        &__flip-panel {
            width: 348px;
            margin-top: 0;
            margin-left: -174px;
            top: 18vh;
        }
    }
}
