@import './../params';
@import './../mixins';

.page-blog {
    &__bg-user {
        top: 59px;
    }

    &__user {
        top: 82px;
    }
}

// @media
// xs
@include media-xs {
    .page-blog {
        &__header {
            height: 100vh;
        }

        &__anchor-link {
            top: 73vh;
        }
    }
}

// xs-landscape
@include media-xs-landscape {
    .page-blog {
        &__anchor-link {
            top: (275 / 320 * 100vh);
        }
    }
}

// desktop
@include media-desktop {
    .page-blog {
        &__bg {
            bottom: -75%;
        }

        &__header {
            height: 410px;

            .page-header__bg-video {
                top: auto;
                bottom: -37%;
            }

            .page-header__anchor-link {
                display: none;
            }
        }
    }
}
