@import './../params';
@import './../mixins';

.page-admin {
    background-color: #f5f7f7;

    &__header {
        display: flex;
        align-items: center;
        background-color: #0548be;
        padding: 23px;
    }

    &__title {
        color: #fff;
    }

    &__to-site-link {
        margin-left: auto;
        color: #fff;
    }
}

// @media
// xs
@include media-xs {
    .page-admin {
        &__header {
            flex-direction: column;
            justify-content: center;
            padding: 14px;
        }

        &__title {
            order: 2;
        }

        &__to-site-link {
            order: 1;
            margin-left: 0;
        }
    }
}

// // sm
// @include media-sm {
//     .page-admin {
//         &__header {
//             padding: 23px;
//         }
//     }
// }
