@import './../params';
@import './../mixins';

.page-works {
    &__header {
        height: 790px;

        .page-header__bg {
            bottom: -14%;
        }
    }

    &__ribbon {
        transform: translate(-50%, -180px);
    }

    &__content {
        position: relative;
        z-index: 3;
    }

    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 180px;
        margin-top: -180px;
        position: relative;
    }

    &__title-bg {
        width: 240px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-left: -10px;
    }

    &__title-bg-img {
        fill: #fff;
        stroke: #fff;
        transform: rotate(-170deg);
        opacity: .15;
    }

    &__quotes {
        padding-bottom: 65px;
    }

    &__contact {
        padding-bottom: 50px;
    }

    &__to-top {
        display: flex;
        justify-content: center;
        padding-bottom: 50px;
        position: relative;
    }

    &__blur-bg {
        padding-bottom: 185px;
    }
}

// @media
// xs
@include media-xs {
    .page-works {
        &__header {
            height: calc(100vh + 91px);
            padding-bottom: 91px;

            .page-header__bg {
                margin-top: -800px;
            }
        }

        &__title {
            height: 92px;
            line-height: 92px;
        }

        &__title-bg {
            width: 120px;
            top: -5px;
            transform: translate(-50%, 0);
        }

        &__quotes {
            padding-bottom: 0;
        }

        &__contact {
            padding-bottom: 40px;
        }

        &__to-top {
            padding-bottom: 40px;
        }

        &__blur-bg {
            padding-bottom: 0;
        }
    }
}

// xs-landscape
@include media-xs-landscape {
    .page-works {
        &__title-bg {
            display: none;
        }
    }
}

// sm
@include media-sm {
    .page-works {
        &__header {
            height: 640px;
            padding-bottom: 135px;

            .page-header__bg {
                bottom: -12%;
            }
        }

        &__title {
            height: 135px;
            line-height: 135px;
            margin-top: -135px;
        }

        &__title-bg {
            width: 170px;
            top: -2px;
            transform: translate(-50%, 0);
        }

        &__ribbon {
            transform: translate(-50%, -135px);
        }

        &__quotes {
            padding-bottom: 43px;
        }

        &__blur-bg {
            padding-bottom: 240px;
        }
    }
}
