@import './../params';
@import './../mixins';

.page-header {
    overflow: hidden;
    position: relative;

    &__bg {
        width: 2000px;
        margin-left: -1000px;
        position: absolute;
        z-index: 1;
        bottom: -45%;
        left: 50%;
    }

    &__bg-video {
        width: 2000px;
        height: 1100px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: margin-top 100ms;
    }

    &__bg-user {
        max-width: 460px;
        margin-left: -250px;
        position: absolute;
        z-index: 2;
        left: 50%;
        transition: margin-top 100ms;
    }

    &__bg-user-img {
        fill: #fff;
        stroke: #fff;
        opacity: .07;
    }

    &__user {
        width: 100%;
        position: absolute;
        z-index: 3;
        left: 0;
    }

    &__anchor-link {
        position: absolute;
        left: 50%;
        margin-left: -22px;
    }
}

// @media
// xs
@include media-xs {
    .page-header {
        height: calc(100vh - 91px);

        &__bg {
            width: 1400px;
            margin-left: -700px;
            top: 100vh;
            bottom: auto;
            margin-top: -840px;
        }

        &__bg-user {
            width: 281px;
            top: (99 / 568 * 100vh);
            margin-left: -150px;
        }

        &__user {
            top: (112 / 568 * 100vh);
        }

        &__anchor-link {
            top: 53vh;
        }
    }
}

// xs-landscape
@include media-xs-landscape {
    .page-header {
        &__bg-user {
            top: (25 / 320 * 100vh);
        }

        &__user {
            top: (42 / 320 * 100vh);
        }

        &__anchor-link {
            display: none;
        }
    }
}

// sm
@include media-sm {
    .page-header {
        height: 505px;

        &__bg {
            width: 1400px;
            margin-left: -700px;
            bottom: -25%;
        }

        &__bg-user {
            width:  281px;
            top: 99px;
            margin-left: -150px;
        }

        &__user {
            top: 116px;
        }

        &__anchor-link {
            top: 310px;
        }
    }
}

// md
@include media-md {
    .page-header {
        height: 605px;

        &__bg-user {
            width: 460px;
            top: 119px;
        }

        &__user {
            top: 153px;
        }

        &__anchor-link {
            top: 355px;
        }
    }
}

// lg
@include media-lg {
    .page-header {
        height: 620px;

        &__bg-user {
            width: 460px;
            top: 119px;
        }

        &__user {
            top: 153px;
        }

        &__anchor-link {
            top: 355px;
        }
    }
}
