@import './../params';
@import './../mixins';

.preloader {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(24, 54, 105, 1);
    transition: background-color 400;

    &__spinner {
        width: 150px;
        height: 150px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__animation {
        width: 150px;
        height: 150px;
        position: relative;
        animation: spin 2s linear infinite;

        &,
        &::before,
        &::after {
            content: "";
            display: block;
            position: absolute;
            border: 3px solid transparent;
            border-top-color: #fff;
            border-radius: 50%;
        }

        &::before {
            @include synch-margin(13px);
            animation: spin 1.5s linear infinite;
        }

        &::after {
            @include synch-margin(5px);
            animation: spin 3s linear infinite;
        }
    }

    &__percents {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
