@import './../params';
@import './../mixins';

.quotes {
    margin-bottom: 65px;
    position: relative;

    &__heading-bg-img {
        fill: #fff;
        stroke: #fff;
        opacity: .15;
        position: absolute;
        z-index: 1;
        width: 174px;
        left: 50%;
        transform: translateX(-50%) rotate(25deg);
        top: 22px;
    }

    &__title {
        text-align: center;
        padding-top: 55px;
        width: 510px;
        margin: 0 auto;
        line-height: 66px;
        padding-bottom: 60px;
    }

    &__list {
        display: flex;
        justify-content: center;
    }

    &__item {
        width: 380px;
        margin: 0 10px;
    }
}

// @media
// xs
@include media-xs {
    .quotes {
        margin-bottom: 45px;

        &__heading-bg-img {
            width: 75px;
            top: 20px;
        }

        &__title {
            width: 300px;
            padding: 30px 0;
            line-height: 42px;
        }

        &__list {
            flex-direction: column;
            padding: 0 10px;
        }

        &__item {
            width: auto;
            max-width: 380px;
            margin: 0 auto 25px;
        }
    }
}

// sm
@include media-sm {
    .quotes {
        margin-bottom: 45px;

        &__heading-bg-img {
            top: 7px;
        }

        &__title {
            width: 320px;
            line-height: 56px;
            padding-bottom: 40px;
        }
    }
}
