@import './../params';
@import './../mixins';

.quote {
    &__img {
        margin: 0 auto 17px;
    }

    &__text {
        margin-bottom: 18px;
        position: relative;

        &::before {
            content: "";
            display: block;
            width: 75px;
            height: 61px;
            position: absolute;
            left: 0;
            top: -25px;
            background-image: url(./../../images/quote.png);
        }
    }

    &__author,
    &__author-detail {
        display: block;
        text-align: center;
    }
}

// @media
// xs
@include media-xs {
    .quote {
        &__img {
            margin-bottom: 15px;
        }
    }
}

// sm
@include media-sm {
    .quote {
        &__text {
            font-size: 14px;
        }
    }
}
