@import '../params';
@import '../mixins';

.skills-group {
    margin-bottom: 40px;

    &__title {
        margin-bottom: 20px;
        color: #474b57;
        font-size: 28px;
        font-weight: 500;
    }

    &__list {
        @include drop-style-ul;
        display: flex;
        justify-content: flex-start;
    }

    &__list-item {
        margin-right: 38px;
    }
}
