@import './../params';
@import './../mixins';

.slider-works {
    display: flex;
    height: 100vh;
    background-color: #f2f0e8;
    flex-direction: column;
    flex-wrap: wrap;

    &__viewport {
        display: flex;
        justify-content: center;
        align-items: center;
        order: 2;
        width: 50%;
        height: (526 / 752 * 100vh);
        background-color: #e3e2de;
    }

    &__slide-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        order: 1;
        width: 50%;
        height: 100vh;
    }

    &__slide-title {
        max-width: 380px;
        text-align: center;
    }

    &__nav {
        width: 50%;
        height: (226 / 752 * 100vh);
        display: flex;
        order: 3;
    }

    &__nav-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        width: 50%;
        padding: 0;
        background-color: transparent;
        position: relative;
        border: 0 none;
        overflow: hidden;

        &_action_prev {
            background-color: #bdbec5;
        }

        &_action_next {
            background-color: #9c9ca4;
        }
    }

    &__nav-icon {
        width: 45px;
        position: relative;
        z-index: 2;
    }

    &__thumb {
        min-height: 100%;
        min-width: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &__current-slide {
        width: percentage(496 / 592);
        max-width: 90%;
        max-height: 90%;
    }

    &__work-features {
        margin: 0 0 55px;
    }
}

// @media
// xs
@include media-xs {
    .slider-works {
        &__viewport {
            order: 1;
            width: 100%;
            height: (260 / 574 * 100vh);
        }

        &__slide-info {
            order: 2;
            width: 100%;
            height: (220 / 574 * 100vh);
            box-sizing: border-box;
        }

        &__slide-title {
            max-width: 90%;
        }

        &__nav {
            order: 3;
            width: 100%;
            height: (94 / 574 * 100vh);
        }

        &__work-features {
            margin: 0 0 20px;
        }

        &__current-slide {
            width: auto;
        }
    }
}

// sm
@include media-sm {
    .slider-works {
        &__viewport {
            order: 1;
            width: 100%;
            height: (515 / 974 * 100vh);
        }

        &__slide-info {
            order: 2;
            width: 100%;
            height: (255 / 974 * 100vh);
            box-sizing: border-box;
        }

        &__slide-title {
            max-width: 90%;
        }

        &__nav {
            order: 3;
            width: 100%;
            height: (204 / 974 * 100vh);
        }

        &__current-slide {
            width: auto;
        }

        &__work-features {
            margin: 0 0 25px;
        }
    }
}

// xs-landscape
@include media-xs-landscape {
    .slider-works {
        &__slide-title {
            &::after {
                margin: 5px auto;
            }
        }

        &__work-features {
            margin: 0;
        }
    }
}
