@import '../params';
@import '../mixins';

.social {
    display: flex;
    align-items: baseline;
    margin: 0;
    padding: 0;
    list-style: none;

    &__item {
        margin-right: 27px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        display: block;
        fill: $social-link-color;

        &:hover {
            fill: $color-primary;
        }

        &_vk {
            width: 31px;
        }

        &_github {
            width: 26px;
            position: relative;
            top: 1px;
        }

        &_in {
            width: 24px;
        }
    }
}

.social_footer {
    .social__link {
        opacity: .5;
    }
}

.social_about-top {
    position: absolute;
    z-index: 2;
    top: 30px;
    left: 30px;

    &:hover {
        fill: #2d47ce;
    }

    .social__link {
        &_vk {
            width: 31px;
        }

        &_github {
            width: 26px;
        }

        &_in {
            width: 24px;
        }
    }
}

.social_welcome {
    justify-content: center;
    margin-bottom: 40px;

    .social__link {
        fill: rgba(0, 76, 209, .7);

        &:hover {
            fill: rgba(0, 76, 209, 1);
        }
    }
}

// XS
@media screen and (max-width: $screen-xs-max) {
    .social_footer {
        justify-content: center;

        .social__link {
            &:hover {
                fill: $social-link-hover-color-xs;
                opacity: 1;
            }
        }
    }

    .social_about-top {
        top: 11px;
        left: 11px;

        .social__link {
            &_vk {
                width: 21px;
            }

            &_github {
                width: 21px;
            }

            &_in {
                width: 19px;
            }
        }
    }
}

// SM
@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .social_footer {
        .social__item {
            margin-right: 29px;
        }

        .social__link {
            &:hover {
                fill: $social-link-hover-color;
                opacity: 1;
            }
        }
    }
}

// LG
@media screen and (min-width: $screen-lg-min) {
    .social_footer {
        .social__item {
            margin-right: 29px;
        }
    }
}
