@import './../params';
@import './../mixins';

.text {
    font-size: 16px;
    line-height: 24px;
}

// Color
.text_color {
    &_white {
        color: #fff;
    }
}

// Weight
.text_weight {
    &_300 {
        font-weight: 300;
    }

    &_500 {
        font-weight: 500;
    }

    &_700 {
        font-weight: 500;
    }
}

// Opacity
.text_opacity {
    &_80 {
        opacity: .8;
    }
}

// Style
.text_style {
    &_italic {
        font-style: italic;
    }
}

// @media
// xs
@include media-xs {
    .text {
        font-size: 14px;
        line-height: 24px;
    }
}

// md
@include media-md {
    // Weight
    .text_md-weight {
        &_500 {
            font-weight: 500;
        }
    }
}
