@import './../params';
@import './../mixins';

.textarea {
    display: block;

    &__wrapper {
        display: block;
        position: relative;
    }

    &__control {
        display: block;
        width: 100%;
        padding: 10px 15px;
        height: 130px;
        resize: none;
        border: 0 none;
        color: rgba(55, 62, 66, .5);
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
    }

    ::-webkit-input-placeholder {
        color: rgba(255, 255, 255, .5);
    }

    ::-moz-placeholder {
        color: rgba(255, 255, 255, .5);
    }

    :-moz-placeholder {
        color: rgba(255, 255, 255, .5);
    }

    :-ms-input-placeholder {
        color: rgba(255, 255, 255, .5);
    }
}

// Color
.textarea_color {
    &_white {
        .textarea__control {
            color: #fff;
        }
    }
}

// Rounded corners
.textarea__control_corners_rounded {
    border-radius: 5px;
}

// @media
// xs
@include media-xs {
    .textarea {
        &__control {
            height: 138px;
            font-size: 14px;
            padding: 15px 20px;
        }
    }
}
