@import './../params';
@import './../mixins';

.text {
    font-size: 16px;
    line-height: 24px;
}

// Color
.text_color {
    &_white {
        color: #fff;
    }
}

// Size
.text_size {
    &_21 {
        font-size: 21px;
        line-height: 34px;
    }

    &_28 {
        font-size: 28px;
        line-height: 34px;
    }

    &_35 {
        font-size: 35px;
        line-height: 34px;
    }

    &_63 {
        font-size: 63px;
        line-height: 56px;
    }
}

// Weight
.text_weight {
    &_300 {
        font-weight: 300;
    }

    &_500 {
        font-weight: 500;
    }

    &_700 {
        font-weight: 700;
    }
}

// Opacity
.text_opacity {
    &_80 {
        opacity: .8;
    }
}

// Style
.text_style {
    &_italic {
        font-style: italic;
    }
}

// Transform
.text_transform_uppercase {
    text-transform: uppercase;
}

// @media
// xs
@include media-xs {
    .text {
        font-size: 14px;
        line-height: 24px;
    }

    // Size
    .text_xs-size {
        &_21 {
            font-size: 21px;
            line-height: 28px;
        }

        &_35 {
            font-size: 35px;
            line-height: 42px;
        }
    }

    // Weight
    .text_xs-weight {
        &_500 {
            font-weight: 500;
        }
    }
}

// sm
@include media-sm {
    // Size
    .text_sm-size {
        &_21 {
            font-size: 21px;
            line-height: 34px;
        }

        &_30 {
            font-size: 30px;
            line-height: 36px;
        }

        &_49 {
            font-size: 49px;
            line-height: 52px;
        }
    }
}

// md
@include media-md {
    // Weight
    .text_md-weight {
        &_500 {
            font-weight: 500;
        }
    }
}
