@import '../params';
@import '../mixins';

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &__bg {
        width: 459px;
        top: -37px;
        fill: #fff;
        stroke: #fff;
        opacity: .07;
        position: absolute;
        z-index: 1;
    }

    &__img {
        display: block;
        width: 141px;
        height: 141px;
        margin-bottom: 21px;
        position: relative;
        z-index: 2;
    }

    &__name {
        margin-bottom: 10px;
        font-size: 35px;
        font-weight: 500;
        color: #fff;
        position: relative;
        z-index: 2;
    }

    &__occupation {
        margin-bottom: 4px;
        font-size: 16px;
        color: #fff;
        position: relative;
        z-index: 2;
    }
}

.user_welcome {
    margin-bottom: 25px;

    .user__name {
        font-size: 28px;
    }

    .user__occupation {
        color: rgba(255, 255, 255, .8);
    }
}

.user_page-heading {
    text-align: center;
    color: #fff;

    .user__title {
        margin-bottom: 16px;
        font-size: 63px;
        font-family: 'Sansus Webissimo', sans-serif;
        line-height: 60px;
        text-transform: uppercase;
    }

    .user__subtitle {
        font-size: 16.09px;
    }
}

// XS
@media screen and (max-width: $screen-xs-max) {
    .user {
        .user__bg {
            width: 281px;
            top: -19px;
        }

        .user__img {
            margin-bottom: 22px;
        }

        .user__name {
            font-size: 21px;
            margin-bottom: 11px;
        }

        .user__occupation {
            font-size: 14px;
        }
    }

    .user_page-heading {
        .user__title {
            margin-bottom: 9px;
            font-size: 35px;
            line-height: 43px;
        }

        .user__subtitle {
            font-size: 14px;
        }
    }
}

// SM
@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .user {
        .user__bg {
            width: 281px;
            top: -17px;
        }
    }

    .user_page-heading {
        .user__title {
            margin-bottom: 12px;
            font-size: 48.6px;
            line-height: 48px;
        }

        .user__subtitle {
            font-size: 14px;
        }
    }
}

// MD
@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    .user {
        .user__bg {
            margin-left: -25px;
            width: 459px;
            top: -24px;
        }
    }
}

// LG
@media screen and (min-width: $screen-lg-min) {
    .user {
        .user__bg {
            margin-left: -24px;
            width: 459px;
            top: -25px;
        }
    }
}
