@import 'params';

// @media
@mixin media-xs() {
    @media screen and (max-width: $screen-xs-max) {
        @content;
    }
}

@mixin media-xs-landscape() {
    @media screen and (max-width: $screen-xs-max) and (orientation: landscape) {
        @content;
    }
}

@mixin media-sm() {
    @media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        @content;
    }
}

@mixin media-sm-portrait() {
    @media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) and (orientation: portrait) {
        @content;
    }
}

@mixin media-sm-landscape() {
    @media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) and (orientation: landscape) {
        @content;
    }
}

@mixin media-md() {
    @media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
        @content;
    }
}

@mixin media-lg() {
    @media screen and (min-width: $screen-lg-min) {
        @content;
    }
}

@mixin media-mobile-and-tablets() {
    @media screen and (max-width: $screen-sm-max) {
        @content;
    }
}

@mixin media-desktop() {
    @media screen and (min-width: $screen-md-min) {
        @content;
    }
}

@mixin media-portrait() {
    @media screen and (orientation: portrait) {
        @content;
    }
}

@mixin ipad-pro-portrait() {
    @media only screen
        and (min-device-width: 1024px)
        and (max-device-width: 1366px)
        and (orientation: portrait)
        and (-webkit-min-device-pixel-ratio: 1.5) {
        @content;
    }
}

@mixin ipad-pro-landscape() {
    @media only screen
        and (min-device-width: 1024px)
        and (max-device-width: 1366px)
        and (orientation: landscape)
        and (-webkit-min-device-pixel-ratio: 1.5) {
        @content;
    }
}

// Make the same margin on all sides
@mixin synch-margin($margin) {
    top: $margin;
    right: $margin;
    bottom: $margin;
    left: $margin;
}

// Make grid layout
@mixin grid($grid-column-count) {
    @for $i from 1 through $grid-column-count {
        &_#{$i} {
            width: (100% / $grid-column-count * $i);
        }
    }
}

// Заголовки
@mixin title-bordered {
    position: relative;
    font-family: 'Sansus Webissimo', sans-serif;
    font-size: 35px;
    line-height: 41px;
    text-align: center;
    text-transform: uppercase;

    &::after {
        content: "";
        display: block;
        width: 56px;
        height: 3px;
        margin: 15px auto 25px;
        background-color: #474b57;
    }

    @include media-xs {
        font-size: 21px;
    }

    @include media-sm {
        font-size: 30px;
    }
}
