/* Component: radio
 * Usage: @import '~Components/radio/style';
 */
@import '~Scss/params';
@import '~Scss/mixins';

.radio {
    display: flex;

    &__control {
        display: none;
    }

    &__pseudo-control {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #fff;

        &::after {
            content: "";
            display: block;
            width: 2px;
            height: 2px;
            border-radius: 50%;
            background-color: #0548be;
            opacity: 0;
            transition: width 0s, height 0s, opacity 0s;
        }
    }

    &__label {
        margin-left: 10px;
        font-size: 16px;
    }

    &__control:checked + .radio__pseudo-control {
        &::after {
            width: 8px;
            height: 8px;
            opacity: 1;
            transition: width 150ms, height 150ms, opacity 150ms;
        }
    }
}

