//- @pugdoc
    name: article
    examples:
            - |
                include ~Components/article/c-article-blog-4


article.article
    h3.article__title Почему я выбрал Jade
    span.article__date 1 сентября 2016
    div.article__content
        p.article__text.text
            :verbatim
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut neque diam, molestie non tempor nec,
                molestie quis augue. Duis vitae eros pharetra, pulvinar dolor id, ultricies dolor. Nullam luctus
                commodo eros, et vehicula leo semper id. Etiam fermentum turpis a vestibulum dignissim. Pellentesque
                pharetra, ante nec luctus luctus, justo leo cursus ligula, at malesuada nunc arcu a dolor. Mauris
                volutpat quam et est semper rhoncus. Nulla et ullamcorper lectus, ac ornare magna. Vestibulum sit amet
                ultricies urna, non venenatis dui. Aliquam tristique velit non tincidunt luctus. Suspendisse et urna eu
                leo cursus mollis ac sed dui. Cras nec mi tempor, lobortis turpis vel, eleifend purus. Donec a sem eget
                turpis commodo egestas sit amet ac dui.
        img(class="article__img article__img_width_100" src="http://lorempixel.com/1920/1080/abstract/")
