//- @pugdoc
    name: techs
    examples:
            - |
                include ~Components/techs/c-techs


.techs
    .techs__text
        include ~Components/text-block/c-text-block-techs

    .techs__indicators
