mixin nav (className, items)

    nav(class=`nav ${className}`)
        ul(class=`nav__list`)
            each item in items
                li(class=`nav__item`)
                    a(href=`${item.link}` class=`nav__link`)= item.text