/* Component: ribbon
 * Usage: @import '~Components/ribbon/style';
 */
@import '~Scss/params';
@import '~Scss/mixins';

.ribbon {
    display: flex;
    align-items: flex-end;
    width: 1920px;
    margin-top: -172px;
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;

    &__col {
        width: 50%;
    }

    .ribbon__triangle {
        fill: #faf8f0;
    }
}

.ribbon_theme_dark {
    .ribbon__triangle {
        fill: rgba(13, 17, 32, .85);
    }
}

.ribbon_theme_striped {
    .ribbon__triangle_side_left {
        fill: #f2f0e8;

        @include media-sm {
            fill: #f2f0e8;
        }
    }

    .ribbon__triangle_side_right {
        fill: #f4f5f0;

        @include media-xs {
            fill: #f2f0e8;
        }

        @include media-sm {
            fill: #f2f0e8;
        }
    }
}
