extends ./../empty

include ./../../mixins/nav
include ./../../mixins/social
include ./../../mixins/copyright
include ./../../mixins/form-message

block title
    | Index page

block content
    .page-welcome
        .page-welcome__bg-media-holder

        img(class=`page-welcome__bg` src=require(`./../../images/night_no_bg.png`))

        .page-welcome__sign-in
            button(type=`button` class=`flip-panel__front-toggler btn btn_w_100 btn_border_white btn_hover-bg_blue`)
                span.btn__text.text.text_color_white.text_weight_500 Авторизоваться

        .page-welcome__flip-panel.flip-panel
            .flip-panel__side.flip-panel__side_side_front
                .flip-panel__content
                    .flip-panel__body.user
                        .user__avatar.avatar
                            img(class=`avatar__img` src=require(`./../../images/user-avatar.jpg`))

                        h1.user__title.heading.text.text_color_white.text_size_28.text_xs-size_21.text_weight_500 Владимир Астахов

                        p.user__text.text.text_color_white Личный сайт веб разработчика

                        +social({
                            className: `flip-panel__social social_color_blue`,
                            items: [
                                {
                                    id: `vk`,
                                    link: `#vk`
                                },
                                {
                                    id: `github`,
                                    link: `#github`
                                },
                                {
                                    id: `in`,
                                    link: `#in`
                                }
                            ]
                        })

                    +nav({
                        className: `flip-panel__footer nav_layout_inline nav_spacers_white`,
                        items: [
                            { 
                                text: `Мои работы`, 
                                link: `portfolio.html`,
                                itemClass: `nav__item_style_button btn btn_color_blue`,
                                linkClass: `nav__link btn__text text text_weight_500`
                            },
                            { 
                                text: `Обо мне`, 
                                link: `about.html`,
                                itemClass: `nav__item_style_button btn btn_color_blue`,
                                linkClass: `nav__link btn__text text text_weight_500`
                            },
                            { 
                                text: `Блог`, 
                                link: `blog.html`,
                                itemClass: `nav__item_style_button btn btn_color_blue`,
                                linkClass: `nav__link btn__text text text_weight_500`
                            }
                        ]
                    })

            form(name=`auth` class=`flip-panel__side flip-panel__side_side_back` novalidate)
                .flip-panel__content
                    .flip-panel__body.login
                        span.login__title.heading.heading_font_2.text.text_size_35.text_color_white.text_transform_uppercase Авторизуйтесь
                        
                        label.login__login.textfield.formfield
                            span.textfield__addon
                                i.textfield__addon-icon.fa.fa-user
                            span.textfield__wrapper
                                input(type=`text` name=`username` class=`textfield__control formfield__control` placeholder=`Логин`)
                                span.textfield__error-message.formfield__error-message
                        
                        label.login__pwd.textfield.formfield
                            span.textfield__addon
                                i.textfield__addon-icon.fa.fa-key
                            span.textfield__wrapper
                                input(type=`password` name=`password` class=`textfield__control formfield__control` placeholder=`Пароль`)
                                span.textfield__error-message.formfield__error-message

                        .form-guard
                            label.form-guard__checkbox.checkbox
                                input(type=`checkbox` name=`antibot` class=`checkbox__control`)
                                span.checkbox__pseudo-control.fa.fa-check
                                span.checkbox__label.text.text_color_white Я человек

                            .form-guard__radio.radio-group
                                span.radio-group__title.radio-group__title_align_center.text.text_color_white Вы точно не робот?
                                
                                .radio-group__wrapper
                                    label.radio-group__item.radio
                                        input(type=`radio` name=`antibot2` value=`1` class=`radio__control`)
                                        span.radio__pseudo-control
                                        span.radio__label.text.text_color_white Да

                                    label.radio-group__item.radio
                                        input(type=`radio` name=`antibot2` value=`2` class=`radio__control`)
                                        span.radio__pseudo-control
                                        span.radio__label.text.text_color_white Не уверен

                        +form-message()

                    +nav({
                        className: `flip-panel__footer nav_layout_inline nav_spacers_white`,
                        items: [
                            { 
                                text: `На главную`, 
                                link: `#welcome-backflip`,
                                itemClass: `nav__item_style_button nav__item_width_50 nav__item_xs-width_auto btn btn_color_blue`,
                                linkClass: `flip-panel__back-toggler nav__link btn__text text text_weight_500`
                            },
                            { 
                                text: `Войти`, 
                                btnType: `submit`,
                                itemClass: `nav__item_style_button nav__item_width_50 nav__item_xs-width_auto btn btn_color_blue`,
                                linkClass: `nav__link btn__text text text_weight_500`
                            }
                        ]
                    })

        +copyright(`copyright_color_white page-welcome__copyright`)
