include ./../nav/nav
include ./../social/social
include ./../contacts/contacts

.footer
    .l-footer__top
        .l-footer__wrapper
            .l-footer__a
                p.footer__text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool 
            .l-footer__b
                +nav('nav_footer', [
                    {
                        text: 'Мои работы',
                        link: '#works'
                    },
                    {
                        text: 'Обо мне',
                        link: '#about'
                    },
                    {
                        text: 'Блог',
                        link: '#blog'
                    },
                    {
                        text: 'Авторизация',
                        link: '#auth'
                    }
                ])
                +social('social_footer', [
                    {
                        icon: 'vk',
                        link: '#vk'
                    }, 
                    {
                        icon: 'github',
                        link: '#github'
                    }, 
                    {
                        icon: 'in',
                        link: '#in'
                    }
                ])
            .l-footer__c
                +contacts('contacts_footer', {
                    skype: 'skype_kdn',
                    email: 'astahov@gmail.com',
                    tel: '+7 931 200 93 24',
                    address: 'г. Новосибирск, ул. Инская, д.4'
                })
    .l-footer__bottom.footer__copyright
        span.footer__copyright-a © Владимир Астахов 
        span.footer__copyright-b Создано с любовью в LoftSchool 
        span.footer__copyright-c 2016