include ./../nav/nav
include ./../social/social
include ./../contacts/contacts
include ./../copyright/copyright

.footer
    .l-footer__top
        .l-footer__wrapper
            .l-footer__a
                p.footer__text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool 
            .l-footer__b
                +nav('nav_footer', [
                    { text: 'Мои работы', link: '#works' },
                    { text: 'Обо мне', link: '#about' },
                    { text: 'Блог', link: '#blog' },
                    { text: 'Авторизация', link: '#auth' }
                ])
                +social('social_footer', [
                    { icon: 'vk', link: '#vk' }, 
                    { icon: 'github', link: '#github' }, 
                    { icon: 'in', link: '#in' }
                ])
            .l-footer__c
                +contacts('contacts_footer', [
                    { text: 'skype_kdn', link: '#skype_kdn' },
                    { text: 'astahov@gmail.com', link: '#astahov@gmail.com' },
                    { text: '+7 931 200 93 24', link: '#+79312009324' },
                    { text: 'г. Новосибирск, ул. Инская, д.4' }
                ])
    .l-footer__bottom.copyright
        +copyright('copyright')