//- @pugdoc
    name: preloader
    examples:
            - |
                include ~Components/preloader/c-preloader


.preloader(style=`
    background: url(${require('./images/preloader-bg.jpg')}) #163262 no-repeat center;
    background-size: cover; 
    position: fixed; 
    z-index: 10000; 
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0;`)
    .preloader__spinner(style="display: none;")
        .preloader__animation
        .preloader__percents 0%
