@import '../params';
@import '../mixins';

.l-blog {
    background-color: #faf8f0;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        position: relative;
        width: 1200px;
        margin: 0 auto;
    }

    &__sidebar {
        width: 310px;
    }

    &__mainbody {
        width: 680px;
        margin-bottom: -93px;
    }
}
