@import '../params';
@import '../mixins';

.l-feedback {
    display: flex;
    justify-content: center;
    width: 1200px;
    padding-top: 78px;
    margin: 0 auto;

    &__container {
        width: 380px;
        padding-top: 45px;
        background-color: rgba(254, 253, 253, .05);
    }

    &__btns {
        display: flex;
    }

    &__btn {
        width: 50%;
    }
}
