@import '../params';
@import '../mixins';

.l-works {
    position: relative;
    background-color: #f2f0e8;

    &__heading {
        position: absolute;
        top: -74px;
        width: 100%;
    }

    &__wrapper {
        display: flex;
        align-items: flex-end;
        width: 1200px;
        margin: 0 auto;
        position: relative;
    }

    &__viewport {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 600px;
        padding-bottom: 226px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #e3e2de;
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 750px;
    }

    &__nav {
        width: 600px;
        height: 226px;
        display: flex;
        position: relative;

        &_prev {
            background-color: #f1ede1;
        }

        &_next {
            background-color: #e3ded0;
        }
    }

    &__nav-btn {
        @include drop-style-btn;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__nav-btn-icon {
        width: 43px;
    }
}

// SM
@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .l-works {
        &__heading {
            top: -91px;
        }
    }
}

// MD
@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    .l-works {
        &__heading {
            top: -120px;
        }
    }
}

// LG
@media screen and (min-width: $screen-lg-min) {
    .l-works {
        &__heading {
            top: -124px;
        }
    }
}
