//- @pugdoc
    name: text-block
    examples:
            - |
                include ~Components/text-block/c-text-block-about


.text-block
    h4.text-block__title Кто я

    p.text-block__text
        :verbatim
            Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне
            нравится делать интересные и современные проекты.
    p.text-block__text
        :verbatim
            Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой
            контент. А пока посмотрите, как тут всё классно и красиво!
