//- @pugdoc
    name: text-block
    examples:
            - |
                include ~Components/text-block/c-text-block-techs


.text-block
    h4.text-block__title Чем я могу быть вам полезен

    p.text-block__text
        :verbatim
            Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на
            Backend. Но давайте по порядку.
