extends ../base

block title
    | Test build
    
block main
    h1 Test build

    hr

    h4 Test svg-sprite

    p Use in Pug
        .test-svg
            each val in ['check', 'in']
                .test-svg__item
                    - let icon = require(`../../images/icons/${val}.svg`);
                    svg(viewBox=icon.viewBox): use(xlink:href=icon.symbol)
    p Use in CSS
        .test-svg
            .test-svg__item
                .test-svg__item-css
            .test-svg__item
                .test-svg__item-css
