@font-face {
    font-family: 'Sansus Webissimo';
    src: url('fonts/SansusWebissimo.woff') format('woff'),
        url('fonts/SansusWebissimo.ttf') format('truetype');
}

body {
    background: url(images/bg-top.jpg) no-repeat bottom;
    background-size: contain;
    font-family: 'Sansus Webissimo';
}
