/* Component: social
 * Usage: @import '~Components/social/style';
 */
@import '~Scss/params';
@import '~Scss/mixins';

.social {
    display: flex;
    align-items: baseline;
    padding: 0;
    list-style: none;

    &__item {
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        display: block;
        padding: 10px;
        position: relative;
        fill: $social-link-color;
        transition: all 180ms ease-out;

        // Для предотвращение бага неправильного вычисления координат мыши в Edge при переходе курсора на shadow-dom
        &::after {
            content: '';
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        &:hover {
            fill: $color-primary;
        }
    }

    &__icon {
        display: block;
        position: relative;
        z-index: 1;

        &_vk {
            width: 31px;
        }

        &_github {
            width: 26px;
            position: relative;
            top: 1px;
        }

        &_in {
            width: 24px;
        }
    }
}

// Color
.social_color {
    &_blue {
        .social__link {
            fill: rgba(0, 76, 209, 0.7);

            &:hover {
                fill: #004cd1;
            }
        }
    }
}

// @media
// xs
@include media-xs {
    // Size
    .social_xs-size {
        &_small {
            .social__icon {
                &_vk {
                    width: 24px;
                }

                &_github {
                    width: 21px;
                }

                &_in {
                    width: 19px;
                }
            }
        }
    }
}

