extends ./../empty

include ./../../mixins/nav

block title
    | Admin page

block content
    //- SVG
    - let svgArrowDown = require(`Images/icons/portf_arrow_down.svg`);

    .page-admin
        header.page-admin__header
            h1.page-admin__title.heading.text.text_size_28.text_xs-size_21.text_sm-size_21.text_wight_500 Панель администрирования
            a(href=`about.html` class=`page-admin__to-site-link link text`) Вернуться на сайт

        .page-admin__tabs.tabs
            +nav({
                className: `tabs__nav`,
                items: [
                    { 
                        text: 'Обо мне', 
                        href: '#about',
                        linkClass: 'nav__link_state_active'
                    },
                    { 
                        text: 'Портфолио', 
                        href: '#works'
                    },
                    { 
                        text: 'Блог', 
                        href: '#blog'
                    }
                ]
            })

            .tabs__content
                section(class=`tabs__tab tabs__tab_state_active page-admin-section` data-tab-name=`about`)
                    //- Form "Skills"
                    h4.page-admin-section__title.text.text_size_21.text_weight_500 Навыки
                    form(class=`page-admin-section__body grid-layout` action=`/admin/about`)
                        .grid-layout__row
                            .grid-layout__item.grid-layout__item_size_6
                                .grid-layout__row
                                    fieldset.grid-layout__item.grid-layout__item_size_6.grid-layout__item_xs-size_7
                                        legend.page-admin-section__group-title.text.text_weight_500 Frontend
                                        .page-admin-section__field.textfield.textfield_bg_white.textfield_size_small
                                            label.textfield__label Html
                                            input(type=`text` class=`textfield__control` value=`100`)
                                            span.textfield__measure %

                                        .page-admin-section__field.textfield.textfield_bg_white.textfield_size_small
                                            label.textfield__label CSS
                                            input(type=`text` class=`textfield__control` value=`90`)
                                            span.textfield__measure %

                                        .page-admin-section__field.textfield.textfield_bg_white.textfield_size_small
                                            label.textfield__label JavaScript
                                            input(type=`text` class=`textfield__control` value=`80`)
                                            span.textfield__measure %

                                    fieldset.grid-layout__item.grid-layout__item_size_6.grid-layout__item_xs-size_7
                                        legend.page-admin-section__group-title.text.text_weight_500 Backend
                                        .page-admin-section__field.textfield.textfield_bg_white.textfield_size_small
                                            label.textfield__label PHP
                                            input(type=`text` class=`textfield__control` value=`80`)
                                            span.textfield__measure %

                                        .page-admin-section__field.textfield.textfield_bg_white.textfield_size_small
                                            label.textfield__label Node.js
                                            input(type=`text` class=`textfield__control` value=`90`)
                                            span.textfield__measure %

                                        .page-admin-section__field.textfield.textfield_bg_white.textfield_size_small
                                            label.textfield__label Mongo.db
                                            input(type=`text` class=`textfield__control` value=`80`)
                                            span.textfield__measure %

                                    fieldset.grid-layout__item.grid-layout__item_size_6.grid-layout__item_xs-size_7
                                        legend.page-admin-section__group-title.text.text_weight_500 Workflow
                                        .page-admin-section__field.textfield.textfield_bg_white.textfield_size_small
                                            label.textfield__label Html
                                            input(type=`text` class=`textfield__control` value=`80`)
                                            span.textfield__measure %

                                        .page-admin-section__field.textfield.textfield_bg_white.textfield_size_small
                                            label.textfield__label CSS
                                            input(type=`text` class=`textfield__control` value=`30`)
                                            span.textfield__measure %

                                        .page-admin-section__field.textfield.textfield_bg_white.textfield_size_small
                                            label.textfield__label JavaScript
                                            input(type=`text` class=`textfield__control` value=`40`)
                                            span.textfield__measure %
                    
                    footer.page-admin-section__footer
                        button(type=`submit` class=`btn btn btn_color_blue`)
                            span.btn__text.text.text_color_white.text_weight_500 Сохранить


                .tabs__tab(data-tab-name=`works` style=`display: none`)
                    .admin-tab
                        h3.admin-tab__title.heading.text.text_size_21.text_wight_500 Страница «Страница «Мои работы»

                        form
                            h4.form__group-title.text.text_weight_500 Добавить работу
                            
                            .textfield.formfield
                                span.textfield__wrapper
                                    input(type=`text` name=`project-name` class=`textfield__control formfield__control` placeholder=`Название проекта`)
                                    span.textfield__error-message.formfield__error-message
                            
                            .textfield.formfield
                                span.textfield__wrapper
                                    input(type=`text` name=`tech` class=`textfield__control formfield__control` placeholder=`Технологии`)
                                    span.textfield__error-message.formfield__error-message

                            .filefield
                                label.filefield__label
                                    svg(class=`filefield__icon` viewBox=svgArrowDown.viewBox): use(xlink:href=svgArrowDown.symbol)
                                    .filefield__text Загрузить картинку

                            button(type=`submit` class=`btn btn_w_100 btn btn_color_blue`)
                                span.btn__text.text.text_color_white.text_weight_500 Добавить
                            
                    
                .tabs__tab(data-tab-name=`blog` style=`display: none`)
                    .admin-tab
                        h3.admin-tab__title.heading.text.text_size_21.text_wight_500 Страница «Блог»

                        form
                            h4.form__group-title.text.text_weight_500 Добавить работу

                            .form__field.textfield.formfield
                                span.textfield__wrapper
                                    input(type=`text` name=`name` class=`textfield__control formfield__control` placeholder=`Название`)
                                    span.textfield__error-message.formfield__error-message

                            .form__field.textfield.formfield
                                span.textfield__wrapper
                                    input(type=`text` name=`date` class=`textfield__control formfield__control` placeholder=`Дата`)
                                    span.textfield__error-message.formfield__error-message

                            .form__field.textarea.formfield
                                span.textarea__wrapper
                                    textarea(class=`textarea__control formfield__control` name=`text` placeholder=`Содержание`)
                                    span.textarea__error-message.formfield__error-message

                            button(type=`submit` class=`btn btn_w_100 btn btn_color_blue`)
                                span.btn__text.text.text_color_white.text_weight_500 Добавить
