extends ./../empty

include ./../../mixins/nav

block title
    | Admin page

block content
    //- SVG
    - let svgArrowDown = require(`Images/icons/portf_arrow_down.svg`);

    .page-admin
        header.page-admin__header
            h1.page-admin__title.heading.heading_size_28.heading_xs-size_21.heading_sm-size_21.heading_wight_500 Панель администрирования
            a(href=`about.html` class=`page-admin__to-site-link link text`) Вернуться на сайт

        .page-admin__tabs.tabs
            +nav({
                className: `tabs__nav`,
                items: [
                    { 
                        text: 'Обо мне', 
                        href: '#about',
                        linkClass: 'nav__link_state_active'
                    },
                    { 
                        text: 'Портфолио', 
                        href: '#works'
                    },
                    { 
                        text: 'Блог', 
                        href: '#blog'
                    }
                ]
            })

            .tabs__content
                .tabs__tab.tabs__tab_state_active(data-tab-name=`about`)
                    .admin-tab
                        h3.admin-tab__title.heading.heading_size_21.heading_wight_500 Страница «Обо мне»

                        form.form.grid-layout.grid-layout_direction_column
                            .grid-layout__col.grid-layout__col_size_4.grid-layout__col_xs-size_7
                                h4.form__group-title.text.text_weight_500 Frontend
                                .form__field.textfield.textfield_bg_white.textfield_size_small
                                    label.textfield__label Html
                                    input(type=`text` class=`textfield__control` value=`100`)
                                    span.textfield__measure %

                                .form__field.textfield.textfield_bg_white.textfield_size_small
                                    label.textfield__label CSS
                                    input(type=`text` class=`textfield__control` value=`90`)
                                    span.textfield__measure %

                                .form__field.textfield.textfield_bg_white.textfield_size_small
                                    label.textfield__label JavaScript
                                    input(type=`text` class=`textfield__control` value=`80`)
                                    span.textfield__measure %

                            .grid-layout__col.grid-layout__col_size_4.grid-layout__col_xs-size_7
                                h4.form__group-title.text.text_weight_500 Workflow
                                .form__field.textfield.textfield_bg_white.textfield_size_small
                                    label.textfield__label Html
                                    input(type=`text` class=`textfield__control` value=`80`)
                                    span.textfield__measure %

                                .form__field.textfield.textfield_bg_white.textfield_size_small
                                    label.textfield__label CSS
                                    input(type=`text` class=`textfield__control` value=`30`)
                                    span.textfield__measure %

                                .form__field.textfield.textfield_bg_white.textfield_size_small
                                    label.textfield__label JavaScript
                                    input(type=`text` class=`textfield__control` value=`40`)
                                    span.textfield__measure %

                            .grid-layout__col.grid-layout__col_size_4.grid-layout__col_xs-size_7
                                h4.form__group-title.text.text_weight_500 Backend
                                .form__field.textfield.textfield_bg_white.textfield_size_small
                                    label.textfield__label PHP
                                    input(type=`text` class=`textfield__control` value=`80`)
                                    span.textfield__measure %

                                .form__field.textfield.textfield_bg_white.textfield_size_small
                                    label.textfield__label Node.js
                                    input(type=`text` class=`textfield__control` value=`90`)
                                    span.textfield__measure %

                                .form__field.textfield.textfield_bg_white.textfield_size_small
                                    label.textfield__label Mongo.db
                                    input(type=`text` class=`textfield__control` value=`80`)
                                    span.textfield__measure %

                                button(type=`submit` class=`btn btn_w_100 btn btn_color_blue`)
                                    span.btn__text.text.text_color_white.text_weight_500 Сохранить

                .tabs__tab(data-tab-name=`works`)
                    .admin-tab
                        h3.admin-tab__title.heading.heading_size_21.heading_wight_500 Страница «Страница «Мои работы»

                        form
                            h4.form__group-title.text.text_weight_500 Добавить работу
                            
                            .textfield.formfield
                                span.textfield__wrapper
                                    input(type=`text` name=`project-name` class=`textfield__control formfield__control` placeholder=`Название проекта`)
                                    span.textfield__error-message.formfield__error-message
                            
                            .textfield.formfield
                                span.textfield__wrapper
                                    input(type=`text` name=`tech` class=`textfield__control formfield__control` placeholder=`Технологии`)
                                    span.textfield__error-message.formfield__error-message

                            .filefield
                                label.filefield__label
                                    svg(class=`filefield__icon` viewBox=svgArrowDown.viewBox): use(xlink:href=svgArrowDown.symbol)
                                    .filefield__text Загрузить картинку

                            button(type=`submit` class=`btn btn_w_100 btn btn_color_blue`)
                                span.btn__text.text.text_color_white.text_weight_500 Добавить
                            
                    
                .tabs__tab(data-tab-name=`blog`)
                    .admin-tab
                        h3.admin-tab__title.heading.heading_size_21.heading_wight_500 Страница «Блог»

                        form
                            h4.form__group-title.text.text_weight_500 Добавить работу

                            .form__field.textfield.formfield
                                span.textfield__wrapper
                                    input(type=`text` name=`name` class=`textfield__control formfield__control` placeholder=`Название`)
                                    span.textfield__error-message.formfield__error-message

                            .form__field.textfield.formfield
                                span.textfield__wrapper
                                    input(type=`text` name=`date` class=`textfield__control formfield__control` placeholder=`Дата`)
                                    span.textfield__error-message.formfield__error-message

                            .form__field.textarea.formfield
                                span.textarea__wrapper
                                    textarea(class=`textarea__control formfield__control` name=`text` placeholder=`Содержание`)
                                    span.textarea__error-message.formfield__error-message

                            button(type=`submit` class=`btn btn_w_100 btn btn_color_blue`)
                                span.btn__text.text.text_color_white.text_weight_500 Добавить
