//- @pugdoc
    name: contactForm
    examples:
            - |
                include ~Components/contacts/c-contacts


ul.contacts
    li.contacts__item
        a(class="contacts__link" href="#skype_kdn") skype_kdn
    li.contacts__item
        a(class="contacts__link" href="#astahov@gmail.com") astahov@gmail.com
    li.contacts__item
        a(class="contacts__link" href="#+79312009324") +7 931 200 93 24
    li.contacts__item
        span.contacts__link.footer__text г. Новосибирск, ул. Инская, д.
