mixin contact (item)
    li(class='contacts__item')
        if (item.icon)
            svg(class="contacts__item-icon" viewBox=item.icon.viewBox): use(xlink:href=item.icon.symbol)
        if (item.link)
            a(href=`${item.link}` class=`contacts__link`)= item.text
        else
            span.contacts__text= item.text

mixin contacts (className, items)

    ul(class=`contacts ${className}`)
        each item in items
            +contact(item)