@import '../../scss/params';

.contacts_footer {
    padding: 0;
    margin: 0;
    line-height: 25px;
    list-style: none;

    .contacts__link {
        color: $contacts-link-color;
        font-weight: 300;
        text-decoration: none;
    }

    .contacts__text {
        color: $contacts-text-color;
        font-weight: 300;
    }
}

// XS
@media screen and (max-width: $screen-xs-max) {
    .contacts_footer {
        font-size: 14.04px;
    }
}

// SM
@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .contacts_footer {
        text-align: right;
        font-size: 14.04px;
    }
}
