//- @pugdoc
    name: contacts
    arguments:
        - {string}      params.className     - Дополнительный класс для элемента
        - {array}       params.items         - Соц.сети

mixin contacts (className, items)
    include ./contact

    ul(class=`contacts` + (params.className ? ` ${params.className}` : ``))
        each item in items
            +contact(item)
