//- @pugdoc
    name: indicator-circle
    arguments:
        - {string}      title
        - {string}      value

mixin indicator-circle (title, value)
    - var max = 282.6, progress = value * max / 100

    - var extraClass = `indicator_opacity_40`;
    - if (value > 25) extraClass = `indicator_opacity_60`;
    - if (value > 50) extraClass = `indicator_opacity_85`;
    - if (value > 75) extraClass = ``;

    figure(class=`indicator indicator_type_circle` data-progress=`${progress}`)
        .indicator__title= title
        svg(width="100%" height="100%" viewBox="0 0 110 110" class="indicator__area")
            circle(r="45" cx="50%" cy="50%" fill="none" class="indicator__bar")
            circle(r="45" cx="50%" cy="50%" transform="rotate(-90 55 55)" class="indicator__progress" style=`stroke-dasharray: .0010 282.6;`)
