//- @pugdoc
    name: menu
    arguments:
        - {array} items - Пункты меню

mixin menu (items)
    include ./nav

    .menu
        +nav({
            className: 'menu__nav',
            items: items
        })
