//- @pugdoc
    name: social
    arguments:
        - {string}      params.className    - Дополнительный класс для элемента
        - {string}      params.items        - Соц.сети

mixin social (params)
    include ./social-item

    ul(class=`social` + (params.className ? ` ${params.className}` : ``))
        each item in params.items
            +social-item(item)
