//- @pugdoc
    name: user
    arguments:
        - {string}      params.className    - Дополнительный класс для элемента
        - {string}      params.name         - Имя пользователя
        - {string}      params.occupation   - Текст, описывающий деятельность пользователя
        - {string}      params.img          - Ссылка на аватар
        - {string}      params.anchorLink   - Анкор-ссылка на блок ниже
        - {string}      params.bg           - Анкор-ссылка на блок ниже

mixin user (params)
    div(class=`user` + (params.className ? ` ${params.className}` : ``))
        if (params.bg)
            //- SVG 
            - let userBg = require(params.bg);
            svg(class=`user__bg` viewBox=svgStars.viewBox): use(xlink:href=svgStars.symbol)

        span.user__img-container
            img(class=`user__img` src=require(params.img))
        span.user__name params.user
        .user__occupation params.occupation

        if (params.anchorLink)
            //- SVG 
            - let svgArrowDown = require(`../../images/icons/portf_arrow_down.svg`);

            button(type=`button` class=`user__anchor-link`)
                svg(class=`user__anchor-icon` viewBox=svgArrowDown.viewBox): use(xlink:href=svgArrowDown.symbol)
